<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>网站安全评级系统</title>
  <link rel="stylesheet" href="../static/css/layui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <img src="../static/images/zzz.png" width="2%" style="float: left;margin-top: 10px;margin-left: 5px">
    <div class="layui-logo">网站安全评级系统</div>
  </div>
  </div>
  <div class="layui-side layui-bg-black" id="admin-side" style="margin-top:3.8%">
    <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
  </div>
  <div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab"style="margin-top:4.5%">
      <ul class="layui-tab-title">
        <li class="layui-this">
          <cite>在线cms识别</cite>
        </li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <iframe src="/onlineCMS"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-footer footer footer-demo" id="admin-footer">
    <div class="layui-main">
      <p>2019 &copy;
        <a href="#">Ginkgoi团队作品</a>
      </p>
    </div>
  </div>
</div>
<script src="../static/layui.js"></script>
<script type="text/javascript">
  var navs = [{
                "title": "扫描器功能",
                "spread": false,
                "children": [
                {"title": "在线cms识别","href": "/onlineCMS"},
                {"title": "poc漏洞检测","href": "/CompileCMS"},
                {"title": "文件后台扫描","href": "/filescan"},
                {"title": "端口功能判断","href": "/Portscan"}
                ]
              },
              {
                "title": "网站扫描管理",
                "href": "/Manager",
                "spread": false
              },
              {
                "title": "网站评级功能",
                "href": "/JudgeRank",
                "spread": false
              },
          ];
</script>
<script src="../static/js/index.js"></script>
<!-- <script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script> -->
</body>
</html>